
externals/Documents Chataigne/test_autosave/

externals/baking/

externals/Documents Chataigne/test.noisette

externals/Documents Chataigne/test_backup.noisette

externals/Documents Chataigne/SansGravité_autosave/

externals/Documents Chataigne/Gaillac_autosave/

externals/Documents Chataigne/bake/

.vs/

externals/Documents Chataigne/post-DNA_autosave/

debug_custom.json

debug.cfg

esp32.svd
