
externals/Documents Chataigne/test_autosave/

externals/baking/

externals/Documents Chataigne/test.noisette

externals/Documents Chataigne/test_backup.noisette

externals/Documents Chataigne/SansGravité_autosave/

externals/Documents Chataigne/Gaillac_autosave/

externals/Documents Chataigne/bake/

.vs/
